@import url(style.css); { }

#header { background-color: #f5f8fd; height: 70px; }
#header.header-scrolled { background-color: #D6D9DE; }

.main-nav .drop-down > a:after { content: '+'; font-family: "Open Sans", sans-serif; }

.spirit { text-transform: none; font-style: italic; font-weight: bold; color: red!important; }

a[target=_blank] { background: url(external.png) center right no-repeat; padding-right: 20px; }

#main .container { padding: 15px; }
ul.list { list-style-type: none; margin: 0; padding: 0; }
ul.list li { cursor: pointer; text-decoration: underline; display: inline-block; }

#header .x-small { font-size: medium; }

.iframe-fluid { max-width: 100%; }

/* https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed */
.video-container { position: relative; width: 100%; height: 0; padding-bottom: 56.25%; }
.video-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

#footer .footer-top .footer-links ul li { padding: 0px; }

/* site specific */
.site-iandeye .main-nav a { padding: 10px 8px; text-transform: none; }
@media (max-width: 1200px) {
	.site-iandeye #header { height: 140px; }
	.site-iandeye #main { margin-top: 170px!important; }
}

.site-buildindiagroup #header, .site-buildindiagroup #footer .footer-top { background-color: #44ADD1!important; } /* #F48B66 #66cff3 */
.site-buildindiagroup #footer .footer-top a { color: #F15D2B; font-weight: bold; }
.site-buildindiagroup .main-nav a:hover, .site-buildindiagroup .main-nav .active > a, .site-buildindiagroup.main-nav li:hover > a { color: #666; }
.site-buildindiagroup .footer-info img { width: 50%; }
.site-buildindiagroup .footer-info h3 { display: none; }